:root {
  --clr-primary-soft-red: hsl(7, 99%, 70%);
  --clr-primary-yellow: hsl(51, 100%, 49%);
  --clr-primary-desat-cyan: hsl(167, 40%, 24%);
  --clr-primay-drk-blue: hsl(198, 62%, 26%);
  --clr-primary-cyan: hsl(168, 34%, 41%);

  --clr-neutral-drk-desat-blue: hsl(212, 27%, 19%);
  --clr-neutral-drk-gray-blue-2: hsl(213, 9%, 39%);
  --clr-neutral-drk-gray-blue-1: hsl(232, 10%, 55%);
  --clr-neutral-gray-blue: hsl(210, 4%, 67%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --font-body: 'Barlow', sans-serif;
  --font-heading: 'Fraunces', serif;
}
